---
import { getEntry } from "astro:content";

const post = await getEntry("posts", "this-is-a-new-post");
const { Content } = await post.render();
---

<main>
  <h1>{post.data.title}</h1>
  <Content />
</main>
