---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<ul class="flex flex-wrap gap-6 max-w-[1200px] m-6 lg:m-auto">
  <li class="min-w-48 grow">
    <a href="#">
      <img src="" class="h-96 bg-black" />
      <h2>Produkt-Name</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy.
      </p>
      <p>35 CHF</p>
    </a>
  </li>
  <li class="min-w-48 grow">
    <a href="#">
      <img src="" class="h-96 bg-black" />
      <h2>Produkt-Name</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy.
      </p>
      <p>35 CHF</p>
    </a>
  </li>
  <li class="min-w-48 grow">
    <a href="#">
      <img src="" class="h-96 bg-black" />
      <h2>Produkt-Name</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy.
      </p>
      <p>35 CHF</p>
    </a>
  </li>
  <li class="min-w-48 grow">
    <a href="#">
      <img src="" class="h-96 bg-black" />
      <h2>Produkt-Name</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy.
      </p>
      <p>35 CHF</p>
    </a>
  </li>
</ul>
